$primary-font: "Copperplate", "normal";
$secondary-font: "Lucida Grande", "normal";
$content-font: "Kanit", sans-serif;
$title-font-color: #444444;
$content-font-color: #777777;



* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;

  h2,
  h3,
  h4,
  h5 {
    font-family: $primary-font;
    text-shadow: #ffffff 1px 2px 3px;
    color: $title-font-color;
  }

  p {
    font-family: $content-font;
    color: $content-font-color;
  }
}


@mixin background-img($url, $position: top, $attachment: fixed, $opacity: 0.85) {
  background-image: url($url);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: ($position);
  background-attachment: ($attachment);
  opacity: ($opacity);
  
}

@mixin card-style {
  box-shadow: 5px 5px 8px #858585;
  border-radius: 0.5rem;
}

@mixin hover-shadow(
  $x: 0px,
  $y: 2px,
  $z: 30px,
  $scale: 10px,
  $color: $content-font-color
) {
  box-shadow: $x $y $z $scale $color;
}

//RWD

@mixin pad {
  @media (max-width: 768px) {
    @content;
  }
}
@mixin mobile {
  @media (max-width: 375px) {
    @content;
  }
}

//
#banner {
  @include background-img("https://i.imgur.com/QVGaSAa.png");
  height: 50vh;
  h2 {
    font-weight: 500;
    color: #fff;
    text-shadow: none;
  }
  @include pad {
    background-attachment: local;
  }
}

#not-found{
  min-height: 100vh;
}
