@import "./helpers/theme";

nav {
  .container {
    text-align: right;
    .col {
      height: 8vh;
      img {
        height: 100%;
        width: 100%;
        object-fit: contain;
      }
    }
    div .navbar-nav .nav-item {
      .nav-link {
        padding: 1rem;
        color: #fff;
        &:hover {
          opacity: 0.8;
        }
      }
      &.dropdown .dropdown-menu .dropdown-item:active {
        background-color: red;
      }
    }
  }
}
