.product-section {
  .col.fish {
    padding: 0.5rem;
    text-align: center;

    .img-container {
      width: 22rem;
      img {
        object-fit: cover;
      }
      &:hover {
        transform: scale(1.3);
        transition: 0.3s ease-out all;
        opacity: 0.9;
        cursor: pointer;
      }
    }

    .modal-text {
      h5 {
        font-style: italic;
      }

      p {
        text-align: left;
      }
    }

    &:hover {
      background-color: #dee5ebb3;
      border-radius: 50%;
      @include hover-shadow(#dee5eb);
    }
  }
}
