@font-face {
    font-family: 'YuPearl';
    src: url("../asset/fonts/YuPearl.woff");
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 16px;
}

//SWIPER
.swiper {
    --swiper-theme-color: #fff;

    .swiper-pagination-bullet.swiper-pagination-bullet-active {
        background-color: #3EB6B6;
        opacity: 1;
    }
}

